@import "tailwindcss";
@import "tailwindcss";

/* Hide horizontal scrollbar */

/* Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* IE, Edge */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}
